title = '收藏'
url = '/soup/collection/:id'
layout = 'default'
==
<div class="container my-5">
    <div class="headline-v3">
        <h2>{{ collection.name }}</h2>
        <p>{{ collection.description }}</p>
        <p>
            <span>Created by <a href="/user/{{ collection.owner.id }}/activities">{{ collection.owner.name }}</a></span>
            <span class="ml-2">{{ collection.created_at|time_diff }}</span>
            <a
                    href="#"
                    class="ml-2"
                    data-request-flash
                    data-request="onCollectedCollection"
                    data-request-data="'collection_id':{{ collection.id}}">
                <i class="fa fa-plus"></i> 收藏({{ collection.collectors.count() }})
            </a>
            {% if user.id == collection.user_id %}
            <a href="/soup/collection/{{ collection.id }}/update"
               class="m-2"
            ><i class="fa fa-pencil"></i></a>
            <a
                    href="#"
                    class="m-2"
                    data-request="onDeleteCollection"
                    data-request-data="'collection_id':{{ collection.id }}"
                    data-request-confirm="你真的要删除?">
                <i class="fa fa-trash"></i>
            </a>
            {% endif %}
        </p>
    </div>
    <div class="card-columns--two-col">
        {% for soup in collection.soups %}
        {% partial 'soup/card-soup' soup=soup %}
        {% endfor %}
    </div>
</div>