<div class="navbar-v2">
    <div class="navbar-v2__toggle">
        <a href="#" id="toggleButton"><i class="fa fa-bars"></i></a>
    </div>
    <div class="navbar-v2__brand">
        <div class="navbar-v2__brand-description">
            <a href="/">首页</a>
        </div>
        <div class="navbar-v2__brand-logo">鸡汤文</div>
    </div>
    <div class="navbar-v2__search" id="navbarSearchLarge">
        <i class="fa fa-search"></i>
        <input type="text" name="q" data-request="onSearch" placeholder="搜索">
    </div>
    <div class="navbar-v2__placeholder"></div>
    <div class="navbar-v2__links">
        <div class="navbar-v2__links-item search" id="openSearchBar">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>

        {% if user %}
        <div class="navbar-v2__links-item">
            <a href="/user/notifications"><i class="fa fa-bell"></i></a>
        </div>
        <div class="navbar-v2__links-item">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-offset="200px;">
                    <img src="{{ user.getAvatarThumb(30) }}" alt="">
                </a>
                <div class="dropdown-menu">
                    <div class="user-panel">
                        <div class="user-header">
                            <img src="{{ user.getAvatarThumb(90) }}" alt="">
                            <div class="user-description">
                                <div>{{ user.name }} - {{ user.email }}</div>
                                <small>{{ user.created_at|time_diff }}</small>
                            </div>
                        </div>
                        <div class="user-body">
                            <a href="/user/{{ thatUser.id }}/soups">汤文</a>
                            <a href="/user/{{ thatUser.id }}/collections">汤单</a>
                            <a href="#">关注</a>
                        </div>
                        <div class="user-footer">
                            <a href="/user/account" class="btn btn-outline-secondary btn-sm">用户中心</a>
                            <a
                                class="btn btn-outline-secondary btn-sm"
                                data-request="onLogout"
                                data-request-data="redirect: '/user/login'">登出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="navbar-v2__links-item">
            <a href="/user/login" class="btn btn-primary text-white">登陆</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="navbar-v2__search-bar off" id="searchBar">
    <div class="search-bar">
        <a href="javascript:;"><i class="fa fa-search"></i></a>
        <input type="text" name="q" data-request="onSearch" placeholder="搜索">
        <a href="#" class="close-button"><i class="fa fa-close"></i></a>
    </div>
    <div class="search-panel">
        <div class="headline-v4">热搜</div>
        <div>
            <a href="#" class="badge badge-danger">装逼段子</a>
            <a href="#" class="badge badge-danger">大虎逼</a>
            <a href="#" class="badge badge-danger">lol台词</a>
        </div>

        <div class="headline-v4">标签</div>
        <div>
            <a href="#" class="badge badge-primary">古风</a>
            <a href="#" class="badge badge-primary">励志</a>
            <a href="#" class="badge badge-primary">装逼</a>
            <a href="#" class="badge badge-primary">婉约</a>
            <a href="#" class="badge badge-primary">卖萌</a>
            <a href="#" class="badge badge-primary">中二</a>
            <a href="#" class="badge badge-primary">幽默</a>
            <a href="#" class="badge badge-primary">萌宠</a>
            <a href="#" class="badge badge-primary">前任</a>
            <a href="#" class="badge badge-primary">怀旧</a>
            <a href="#" class="badge badge-primary">前女友</a>
        </div>
    </div>

</div>
