<div class="sidebar" id="sidebar">
    <div class="sidebar__top-item">
        <a href="/" class="sidebar__item"><i class="fa fa-fw fa-home"></i><span>首页</span></a>
        <a href="/soup/soups" class="sidebar__item"><i class="fa fa-fw fa-compass"></i><span>发现</span></a>
        {% if user %}
        <a href="/user/account" class="sidebar__item"><i class="fa fa-fw fa-user-circle "></i><span>用户中心</span></a>
        {% endif %}
        <a href="/soup/collections" class="sidebar__item"><i class="fa fa-fw fa-folder-open"></i><span>汤单</span></a>
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-tags "></i><span>标签</span></a>

        <div class="sidebar__divider"></div>
        <a href="/contribution-guide" class="sidebar__item second-item">贡献规则</a>
        <a href="#" class="sidebar__item second-item"><span>反馈问题</span></a>
        <a href="#" class="sidebar__item second-item"><span>帮助</span></a>
    </div>
    <div class="sidebar__copyrights">
        <i class="fa fa-copyright"></i>2017 All Rights Reserved <a href="#" class="footer__autor">buuug7</a>
    </div>
</div>