<div class="container mt-4">
    <div class="jumbotron bg-white">
        <h1 class="display-4">属于你自己的心灵鸡汤</h1>
        <p class="lead">
            <span style="font-style: italic">鸡汤文</span> 网站的发展离不开各位汤友的贡献,我们非常欢迎各位汤友为网站贡献各类汤文,鸡汤文的贡献规则请查看 <a href="/contribution-guide">贡献规则</a>,我们希望将有些转瞬即逝的灵感永恒的流传,并且通过反复阅读来提升自我.
        </p>
        <hr class="my-3">
        <p>The more you get, the less you have.</p>
        <p class="lead">
            {% if user %}
            <a class="btn btn-primary btn-lg" href="/user/account">用户中心</a>
            {% else %}
            <a class="btn btn-primary btn-lg" href="/user/login">登陆/注册</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-lg" href="/soup/soup/create" role="button">我要贡献</a>
        </p>
    </div>
</div>