/*
|--------------------------------------------------------------------------
| app
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| 
|
*/
/*
|--------------------------------------------------------------------------
| _variables
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| 
|
*/
/*
|--------------------------------------------------------------------------
| fonts
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| Copied from October demo theme
|
*/
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-black-webfont.eot");
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.svg#latoblack") format("svg"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-italic-webfont.eot");
  src: url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.svg#latoitalic") format("svg"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-light-webfont.eot");
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.svg#latolight") format("svg"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif; } }
/*
|--------------------------------------------------------------------------
| _common
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| 
|
*/
body {
  background-color: #f7f7f7;
  color: #616161;
  font-family: "lato", sans-serif; }

blockquote {
  padding: 0 1rem;
  border-left: 0.25em solid #e9ecef;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #adb5bd;
  font-weight: 300; }
  blockquote > :first-child {
    margin-top: 0; }

/*
|--------------------------------------------------------------------------
| _callout
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| Copied from October demo theme
|
*/
.callout {
  margin-bottom: 20px;
  padding: 20px;
  border-left: 3px solid #dee2e6;
  background-color: #f8f9fa; }
  .callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px; }
  .callout p:last-child {
    margin-bottom: 0; }

.callout-success {
  background-color: #edfbf0;
  border-color: #c4f1ce; }
  .callout-success h4 {
    color: #28a745; }

.callout-info {
  background-color: #ebfafd;
  border-color: #beeff7; }
  .callout-info h4 {
    color: #17a2b8; }

.callout-warning {
  background-color: #fffaed;
  border-color: #ffeeba; }
  .callout-warning h4 {
    color: #ffc107; }

.callout-danger {
  background-color: #fceced;
  border-color: #f6cdd1; }
  .callout-danger h4 {
    color: #dc3545; }

/*
|--------------------------------------------------------------------------
| _headline
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| 
|
*/
.headline {
  display: block;
  margin: 30px 0 20px 0;
  border-bottom: 1px dotted #e4e9f0; }
  .headline h2 {
    font-size: 22px; }
  .headline h2, .headline h3, .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #fd7e14; }
    .headline h2 a, .headline h3 a, .headline h4 a {
      color: #333; }

.headline-primary h2, .headline-primary h3, .headline-primary h4 {
  border-bottom: 3px solid #007bff; }

.headline-success h2, .headline-success h3, .headline-success h4 {
  border-bottom: 3px solid #28a745; }

.headline-info h2, .headline-info h3, .headline-info h4 {
  border-bottom: 3px solid #17a2b8; }

.headline-danger h2, .headline-danger h3, .headline-danger h4 {
  border-bottom: 3px solid #dc3545; }

.headline-warning h2, .headline-warning h3, .headline-warning h4 {
  border-bottom: 3px solid #ffc107; }

.headline-v2 {
  display: block;
  background: #fff;
  padding: 1px 10px;
  margin: 0 0 20px 0;
  border-left: 3px solid #ffc107; }
  .headline-v2 h2 {
    color: #000;
    margin: 3px 0;
    font-size: 20px;
    font-weight: 200; }

.headline-v2-primary {
  border-left: 3px solid #007bff; }

.headline-v2-success {
  border-left: 3px solid #28a745; }

.headline-v2-info {
  border-left: 3px solid #17a2b8; }

.headline-v2-warning {
  border-left: 3px solid #ffc107; }

.headline-v2-danger {
  border-left: 3px solid #dc3545; }

.headline-v3 {
  text-align: center;
  margin-bottom: 40px; }
  .headline-v3 h2 {
    font-size: 25px;
    text-transform: uppercase; }
  .headline-v3 p {
    font-size: 14px; }

.headline-v3-primary h2, .headline-v3-primary h3, .headline-v3-primary h4 {
  color: #007bff; }

.headline-v3-success h2, .headline-v3-success h3, .headline-v3-success h4 {
  color: #28a745; }

.headline-v3-info h2, .headline-v3-info h3, .headline-v3-info h4 {
  color: #17a2b8; }

.headline-v3-danger h2, .headline-v3-danger h3, .headline-v3-danger h4 {
  color: #dc3545; }

.headline-v3-warning h2, .headline-v3-warning h3, .headline-v3-warning h4 {
  color: #ffc107; }

/*
|--------------------------------------------------------------------------
| _comment
|--------------------------------------------------------------------------
|
| Created by puguohong on 28/07/2017.
| use BEM https://en.bem.info/methodology/
| naming schemes : Two Dashes Stye  'block-name__element_name--mod-name'
| depend on bootstrap v4 list-group component
*/
.comment {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative; }

.comment__header {
  display: flex;
  flex-direction: row; }

.comment__header-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.comment__header-author {
  display: flex;
  flex-direction: column; }

.comment__content-at {
  font-size: 1rem; }

.comment__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem; }

.comment__action-like {
  display: flex;
  flex-direction: row;
  align-items: center; }

.post-comment {
  background-color: #fff;
  padding: 20px;
  width: 100%; }

.post-comment--no-padding {
  padding: 0; }

.comment__delete {
  position: absolute;
  right: 20px;
  top: 12px; }

/*
|--------------------------------------------------------------------------
| _card
|--------------------------------------------------------------------------
|
| Created by puguohong on 31/07/2017.
| 
|
*/
.card-soup .card-soup__content {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden; }
.card-soup .card-soup__more {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), white);
  padding: 40px 0 0 0; }
  .card-soup .card-soup__more > a {
    color: #616161; }
  .card-soup .card-soup__more > a:hover {
    text-decoration: none; }

@media (min-width: 576px) {
  .card-columns--two-col {
    column-count: 2;
    column-gap: 1.25rem; }
    .card-columns--two-col .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem; } }

/*# sourceMappingURL=app.css.map */
