title = '用户动态'
url = '/user/:id/activities'
layout = 'default'
==
function onStart(){
    $this['thatUser'] = \RainLab\User\Models\User::find($this->param('id'));
    if(!$this['thatUser']){
        return Redirect::to('/');
    }

    $this['timelines'] = $this['thatUser']->timelineEvents()->orderBy('created_at','desc')->paginate(5);

}
==
<div class="container my-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="user-widget">
                <div class="user-widget__header" style="background-image: url('/themes/bs4/assets/images/bg/bg04.jpg')">
                    <div class="user-widget__img">
                        <img src="{{ thatUser.getAvatarThumb(100) }}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="btn user-widget__editor-btn btn-sm">
                        <i class="fa fa-camera"></i> 编辑封面
                    </a>
                    <div class="user-widget__user-name">{{ thatUser.name }}</div>
                    <div class="user-widget__user-email">{{ thatUser.email }}</div>
                </div>
                <div class="user-widget__footer">
                        <div class="user-widget__block">
                            <a href="/user/{{ thatUser.id }}/soups">{{ thatUser.contributeSoups.count }}</a>
                            <span>汤文</span>
                        </div>
                        <div class="user-widget__block">
                            <a href="/user/{{ thatUser.id }}/collections">{{ thatUser.createdCollections.count }}</a>
                            <span>汤单</span>
                        </div>
                        <div class="user-widget__block">
                            <a href="#">126</a>
                            <span>关注</span>
                        </div>
                </div>
            </div>
            <!--timeline Event-->

            <ul class="timeline">
                {% for timeline in timelines %}

                <li class="timeline__date">
                    <span>{{ timeline.created_at|date('Y-m-d') }}</span>
                </li>
                <li>
                    <span class="timeline__label"><i class="fa fa-tag"></i></span>
                    <div class="timeline__item">
                        <div class="timeline__item-time"><i class="fa fa-clock-o"></i> {{ timeline.created_at|date('H:i') }}</div>
                        {% if timeline.event_type == 'Buuug7\\Soup\\Models\\Soup' %}

                        <div class="timeline__item-header">
                            {% if timeline.data['method'] == 'create' %}
                            发布了新汤文
                            {% elseif timeline.data['method'] == 'update'  %}
                            更新了汤文
                            {% endif %}
                        </div>
                        <div class="timeline__item-body">
                            {{ str_limit(timeline.target.content,200)|md }}
                        </div>
                        <div class="timeline__item-footer">
                            <a class="btn btn-outline-primary btn-sm" href="/soup/soup/{{ timeline.event_id }}">查看更多</a>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}

                <!--timeline end-->
                <li>
                    <span class="timeline__label" style="background-color: rgba(0,0,0,0.4);">
                        <i class="fa fa-clock-o"></i>
                    </span>
                </li>
            </ul>
            {% if events.hasPages() %}
            <ul class="pagination justify-content-center">
                <!-- Previous page link -->
                {% if events.onFirstPage() %}
                <li class="page-item disabled"><span class="page-link"><i class="fa fa-angle-double-left"></i></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ events.previousPageUrl() }}" rel="prev"><i class="fa fa-angle-double-left"></i></a></li>
                {% endif %}

                <!-- Next page link -->
                {% if events.hasMorePages %}
                <li class="page-item"><a class="page-link" href="{{ events.nextPageUrl() }}" rel="next"><i class="fa fa-angle-double-right"></i></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa fa-angle-double-right"></i></span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
