<div class="card card-collection bg-light mb-3">
    <div class="card-header">created by <a href="#">{{ collection.owner.name }}</a></div>
    <div class="card-body">
        <h4 class="card-title">{{ collection.name }}</h4>
        <p class="card-text " style="height: 70px;overflow: hidden;">
            {{ collection.description }}
        </p>
        <p>
            <a href="/soup/collection/{{ collection.id }}" class="btn btn-outline-primary">详情</a>
            {% if collection.hasCollector(user.id) %}
            <a
                    href="#"
                    class="btn btn-outline-primary"
                    data-request="onCollectedCollection"
                    data-request-data="'collection_id':{{ collection.id}}"
                    data-request-confirm="你真的要取消收藏？">
                已收藏({{ collection.collectors.count() }})
            </a>
            {% else %}
            <a
                    href="#"
                    data-request-flash
                    class="btn btn-outline-primary"
                    data-request="onCollectedCollection"
                    data-request-data="'collection_id':{{ collection.id}}">
                收藏({{ collection.collectors.count() }})
            </a>
            {% endif %}
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ collection.created_at|time_diff }}</small>
        <small class="text-muted">{{ collection.soups.count() }} 篇鸡汤</small>
    </div>
</div>