title = '收藏集'
url = '/soup/collections'
layout = 'default'
[viewBag]
userActiveMenu = "collections"
==
function onStart(){
$this['collections']= Buuug7\Soup\Models\Collection::orderBy('created_at','desc')->paginate(2);
}


==

<div class="container my-4">
    <div class="row">
        {% for collection in collections %}
        <div class="col-md-4 col-sm-6">
            {% partial 'soup/collection/collection' collection = collection %}
        </div>
        {% endfor %}
    </div>

    {% if collections.hasPages() %}
    <ul class="pagination">
        <!-- Previous page link -->
        {% if collections.onFirstPage() %}
            <li class="page-item disabled"><span class="page-link"><i class="fa fa-angle-double-left"></i></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ collections.previousPageUrl() }}" rel="prev"><i class="fa fa-angle-double-left"></i></a></li>
        {% endif %}

        <!-- Next page link -->
        {% if collections.hasMorePages() %}
            <li class="page-item"><a class="page-link" href="{{ collections.nextPageUrl() }}" rel="next"><i class="fa fa-angle-double-right"></i></a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link"><i class="fa fa-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>