url = '/soup/soup/:id'
title = '鸡汤'
layout = 'default'
[soupSoup]
[soupCollection]
==

<div class="container my-5">
    <div class="row">

        <div class="col-md-8">
            {% partial 'soup/card-soup' soup=soup %}

            <div class="headline">
                <h2 class="comments-count">汤友评论 ({{ soup.comments.count }})</h2>
            </div>

            {% if user %}
            <div class="post-comment mt-3">
                <form
                        data-request="onPostComment"
                        data-request-data="'soup_id': {{ soup.id }}"
                        data-request-update="'soup/comment':'^.new-comment','soup/comments-count':'.comments-count'"
                        data-request-success="$('#commentContent').val('')"
                        data-request-flash>
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                placeholder="添加评论"
                                name="content"
                                id="commentContent"></textarea>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-primary" data-attach-loading>评论</button>
                    </div>
                </form>
            </div>
            {% else %}

            <div class="post-comment mt-3">
                <div class="alert alert-warning mb-0" role="alert">
                    <a href="/user/login">登陆</a> 之后可发布评论
                </div>
            </div>
            {% endif %}

            <div class="list-group comments mt-4">
                <div class="new-comment"></div>
                {% partial 'soup/comment' comments=comments %}
                <div class="more-comments"></div>
                <div class="list-group-item comment load-more-comments-button">
                    <a
                            href="#"
                            data-request="onLoadMoreComments"
                            data-request-data="offset:{{ commentLimitNumber }}"
                            data-request-update="'soup/comment':'@.more-comments','soup/load-more-comments-button':'.load-more-comments-button'"
                            {% if noMoreComments %}
                            class="btn btn-outline-secondary align-self-center disabled"
                            {% else %}
                            class="btn btn-outline-primary align-self-center"
                            {% endif %}
                    >
                        {% if noMoreComments %}
                        没有了
                        {% else %}
                        加载更多
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>