/*
|--------------------------------------------------------------------------
| _card
|--------------------------------------------------------------------------
|
| Created by puguohong on 31/07/2017.
| 
|
*/

//
// card soup
//
.card-soup {
    .card-soup__content {
        font-size: 18px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        //max-height: 350px;
        //height:200px;
        pre{
            @include markdown-code;
        }
    }

    .card-soup__more {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(
                        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.4),
                        rgba(255, 255, 255, 0.6),
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 1)
        );
        padding: 40px 0 0 0;
        > a{
            color:#616161;

        }
        > a:hover {
            text-decoration: none;
        }
    }
}

@include media-breakpoint-up(sm) {
    .card-columns--two-col {
        column-count: 2;
        column-gap: $card-columns-gap;

        .card {
            display: inline-block; // Don't let them vertically span multiple columns
            width: 100%; // Don't let their width change
            //margin-bottom: $card-columns-margin;
        }
    }
}

.card-collection{

}
