<form data-request="onContributeSoup">
    <div class="form-group">
        <label for="content">内容</label>
        <textarea name="content" id="content" rows="4" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="reference">参考</label>
        <textarea name="reference" id="reference" rows="4" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">提交</button>
    </div>
</form>