description = 'default layout'
[session]
[soupCollection]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ this.theme.site_name }} | {{ this.page.title }}</title>
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ 'assets/images/logo.jpg'|theme }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/dist/css/bootstrap.css'|theme }}">
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.css'|theme }}">
    <!--slick-->
    <link rel="stylesheet" href="{{ 'assets/vendor/slick-carousel/slick/slick.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/slick-carousel/slick/slick-theme.css'|theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
    {% styles %}
</head>
<body>

<!--Header-->
<header id="layout-header">
    {% partial 'site/header-v2' %}
</header>

<div class="sidebar">
    <div class="sidebar__top-item">
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-home"></i><span>首页</span></a>
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-coffee"></i><span>汤文</span></a>
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-folder-open"></i><span>汤单</span></a>
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-tags "></i><span>标签</span></a>
        <a href="#" class="sidebar__item"><i class="fa fa-fw fa-user-circle "></i><span>用户中心</span></a>
        <div class="sidebar__divider"></div>
        <a href="#" class="sidebar__item second-item"><span>设置</span></a>
        <a href="#" class="sidebar__item second-item"><span>反馈问题</span></a>
        <a href="#" class="sidebar__item second-item"><span>帮助</span></a>
    </div>
    <div class="sidebar__copyrights">
        <i class="fa fa-copyright"></i>2017 All Rights Reserved <a href="#" class="footer__autor">buuug7</a>
    </div>
</div>

<!--Content-->
<section id="layout-content" style="padding-top: 70px;">
    {% flash %}
    <div class="">
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    </div>
    {% endflash %}
    {% page %}
</section>

<!--Scripts-->
<!-- jquery  -->
<script src="{{ 'assets/vendor/jquery/jquery.js'|theme }}"></script>

<!-- popper.js and bootstrap -->
<script src="{{ 'assets/vendor/popper.js/dist/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.js'|theme }}"></script>

<!-- slick -->
<script src="{{ 'assets/vendor/slick-carousel/slick/slick.js'|theme }}"></script>

<script src="{{ 'assets/scripts/app.js'|theme }}"></script>
{% framework extras %}
<script>
    $(function () {
        $.ChickSoup.init();
        $.ChickSoup.showMoreContent(150);
    });

    var flag = false;

    $('#toggleButton').on('click', function (e) {
        var $sideBar = $('.sidebar');
        var layoutContent = $('#layout-content');
        flag = !flag;
        if (flag) {
            layoutContent.css({
                marginLeft:210,
                transition:'margin 0.3s'

            });
            $sideBar.css({
                'transform':'translate(210px,0)'
            });
        }else{
            layoutContent.css({
                marginLeft:0,
                transition:'margin 0.3s'
            });
            $sideBar.css({
                'transform':'translate(-210px,0)'
            });
        }
    });
</script>
{% scripts %}
</body>
</html>