/*
|--------------------------------------------------------------------------
| _card
|--------------------------------------------------------------------------
|
| Created by puguohong on 31/07/2017.
| 
|
*/


@include media-breakpoint-up(sm) {
    .card-columns--two-col {
        column-count: 2;
        column-gap: $card-columns-gap;

        .card {
            display: inline-block; // Don't let them vertically span multiple columns
            width: 100%; // Don't let their width change
            margin-bottom: $card-columns-margin;
        }
    }
}