/*
|--------------------------------------------------------------------------
| _common
|--------------------------------------------------------------------------
|
| Created by puguohong on 27/07/2017.
| 
|
*/

body {
    background-color: #f7f7f7;
    color: #616161;
    font-family: $font-family-sans-serif;
}

// Blockquotes
blockquote {
    padding: 0 $spacer;
    border-left: 0.25em solid $gray-200;
    margin-bottom: $spacer;
    font-size: 16px;
    color: $gray-600;
    font-weight: 300;
    >:first-child{
        margin-top: 0;
    }
}


